body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container {
  display:flex;
  align-items: center;
}

.header-title{
  margin-left: 2rem;
}

.header-cart {
  margin-left: auto;
}

.App {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  align-items: center;
}

.main-content {
  margin-left:auto;
  margin-right: 50%;
}
