body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  /* margin: 0 5rem 0 5rem; */
  background-color: #efefef;
}

.header-container {
  background-color: white;
  padding: 0 5rem 0 5rem;
  display:flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-title > h1{
  margin-right: 2rem;
}

.search-bar {
  flex-basis: 40%;
  padding: 5px;
}

.search-button {
  padding: 5px;
}

.header-cart {
  margin-left: auto;
}

.main-container {
  display: flex;
  padding: 0 5rem 0 5rem;
  align-items: center;
}

.main-content {
  margin-left:auto;
  margin-right: 50%;
}

.footer {
  padding: 0 5rem 0 5rem;
}
